/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/* 
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;		
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

body {
	font-family: 'Nanum Gothic Coding', monospace;
	font-size: 16x;
	line-height: 1.5em;
	text-align: center;
	color: #FFFFFF;
	background-color: #A52A2A;
}

/*	Generally, you will only want one container element in
	the document, wrapping around the main content area. 
	If you have more than one container, you are probably doing
	something wrong. 	
*/
.container {
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 90%;
	max-width: 1200px;
	padding: 2em;
	border: 5px solid #red;
}

a {
	color: #A9A9A9;
	text-decoration: grey underline;
}

h1{
	size: 400px;
	font-family: 'Nanum Gothic Coding', monospace;
	font-weight: bold;
}
